apiVersion: v1
kind: ConfigMap
metadata:
  name: dispatcher-config
  namespace: {{ .Values.environment }}
data:
  osa_data_server_conf.yml: |
    instruments:
      isgri:
        dispatcher_mnt_point: /data
        data_server_cache: reduced/ddcache
        dummy_cache: /data/dummy_prods
        data_server_url: {{ .Values.isgri_data_server_url | default "http://oda-dda-interface:8000" }}

      jemx:
        dispatcher_mnt_point: /data
        data_server_cache: reduced/ddcache
        dummy_cache: /data/dummy_prods_jemx
        data_server_url: {{ .Values.jemx_data_server_url | default "http://oda-dda-interface:8000" }}


  magic_data_server_conf.yml: |
    instruments:
      magic:
        data_server_url: {{ .Values.magic_data_server_url | default "http://oda-magic:8000" }}
  

  polar_data_server_conf.yml: |
    instruments:
      polar:
        dispatcher_mnt_point:
        data_server_cache:
        dummy_cache: dummy_prods
        data_server_url: {{ .Values.polar_data_server_url | default "polar-worker" }}
        data_server_port: {{ .Values.polar_data_server_port | default 8893 }}

  antares_data_server_conf.yml: |
    instruments:
      antares:
        data_server_url: {{ .Values.antares_data_server_url | default "http://oda-antares:8000" }}
        dummy_cache: dummy_prods 

  spiacs_data_server_conf.yml: |
    instruments:
      spi_acs:
        dispatcher_mnt_point:
        data_server_cache:
        dummy_cache: dummy_prods
        data_server_url: {{ .Values.spiacs_data_server_url | default "https://www.astro.unige.ch/cdci/astrooda/dispatch-data/gw/integralhk/api/v1.0/genlc/ACS/{t0_isot}/{dt_s}" }}

  legacysurvey_data_server_conf.yml: |
    instruments:
      legacysurvey:
        data_server_url: http://legacysurver-backend:8000
        dummy_cache: dangerously-not-set-to-anything-useful

  gw_data_server_conf.yml: |
    instruments:
      gw:
        data_server_url: http://gw-backend:8000
        dummy_cache: dangerously-not-set-to-anything-useful
